<div class="landing-body">
  <div id="meet-mirage" class="section">
    <div class="section-title">
      <h1>Centro de Educación Continua "Yavirac"</h1>
    </div>
    <div class="p-grid">
      <h4 class="p-col-1">Filtrar por</h4>
      <p-dropdown
        class="p-col-1 p-col-align-center"
        [options]="coursesTypes"
        (onChange)="changeFilter($event)"
        [(ngModel)]="selectedFilter"
      ></p-dropdown>
    </div>
    <div class="feature-cards">
      <!-- ngFor de PLANIFICATION COURSES -->
      <div *ngFor="let item of coursesListFilter" class="feature-card">
        <div class="feature-card-img">
          <img src="{{item.photo}}" style="width: 150px; padding-top: 10px;"/>
        </div>
        <div class="feature-card-title">{{ item.summary }}</div>
        <div class="feature-card-content">{{ item.instructor_id }}</div>
        <div class="feature-card-content">
          Cupos disponibles {{ item.capacity }}
          <!-- (verde: disponibles, rojo: sin cupos) -->
        </div>
        <div class="p-grid" style="flex: auto; justify-content: space-between">
          <button
            type="button"
            routerLink="/cecy/free-courses/details"
            [queryParams]="{'id': item.id}"
            label="Más información"
            pButton
            icon="pi pi-sign-in"
          ></button>
          <button
            type="button"
            label="Matricularme"
            [queryParams]="{'id': item.id}"
            pButton
            icon="pi pi-sign-in"
            routerLink="/cecy/free-courses/registration"
          ></button>
        </div>
      </div>
    </div>
  </div>
  <!-- <button
         type="button"
         label="createCRUD"
         pButton
         icon="pi pi-sign-in"
         (click)="guardar()"
       ></button>
       <button
         type="button"
         label="updateCRUD"
         pButton
         icon="pi pi-sign-in"
         (click)="actualizar()"
       ></button>
       <button
         type="button"
         label="eliminarCRUD"
         pButton
         icon="pi pi-sign-in"
         (click)="eliminar()"
       ></button> -->
</div>
