<div class="landing-body" *ngIf="course">
  <div id="meet-mirage" class="section">
    <div class="section-title">
      <h1>Centro de Educación Continua "Yavirac"</h1>
    </div>
    <div>
      <form #form="ngForm" [formGroup]="registrationForm" (ngSubmit)="saveRegistrationData()">
        <h3 class="section-title">INSCRIPCIÓN PARA CURSOS DE CAPACITACIÓN</h3>
        <div class="p-grid">
          <h4 class="p-col-2">Código del curso</h4>
          <h5 class="p-col">{{course.code}}</h5>
        </div>
        <div class="p-grid">
          <h4 class="p-col-2">Nombre del curso</h4>
          <h5 class="p-col">{{course.setec_name}}</h5>
        </div>
        <div class="p-grid">
          <h4 class="p-col-2">Modalidad</h4>
          <p-dropdown
            class="p-col-1 p-col-align-center"
            [options]="levelInstruction"
            formControlName="level_instruction"
          ></p-dropdown>
        </div>
        <h3 class="section-title">DATOS PERSONALES</h3>
        <div class="p-grid">
          <h4 class="p-col-2">Apellidos y Nombres</h4>
          <h5 class="p-col">Adrian Reichell Torres Moreno</h5>
        </div>
        <div class="p-grid">
          <h4 class="p-col">Cédula de Ciudadanía</h4>
          <h5 class="p-col">1751528967</h5>
          <h4 class="p-col">Fecha de nacimiento</h4>
          <h5 class="p-col">29/04/1999</h5>
        </div>
        <div class="p-grid">
          <h4 class="p-col-2">Sexo</h4>
          <p-radioButton class="p-col-2" name="instructionY" label="instructionY" value="instructionY" [formControl]="registrationForm.controls['modality']"></p-radioButton>
          <p-radioButton class="p-col-2" name="instructionX" label="instructionX" value="instructionX" [formControl]="registrationForm.controls['modality']"></p-radioButton>
        </div>
        <br>
        <div class="p-grid">
          <h4 class="p-col-2">Etnia</h4>
          <p-radioButton class="p-col-2" name="instructionY" label="instructionY" value="instructionY" [formControl]="registrationForm.controls['modality']"></p-radioButton>
          <p-radioButton class="p-col-2" name="instructionX" label="instructionX" value="instructionX" [formControl]="registrationForm.controls['modality']"></p-radioButton>
          <p-radioButton class="p-col-2" name="instructionX" label="instructionX" value="instructionX" [formControl]="registrationForm.controls['modality']"></p-radioButton>
          <p-radioButton class="p-col-2" name="instructionX" label="instructionX" value="instructionX" [formControl]="registrationForm.controls['modality']"></p-radioButton>
        </div>
        <br>
        <div class="p-grid">
          <label for="address" class="p-col-2">Dirección Domiciliaria</label>
          <input id="address" formControlName="address" class="p-col-4" type="text" pInputText pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"/>
        </div>
        <br>
        <div class="p-grid">
          <h4 class="p-col-2">Nro. Telefónico</h4>
          <label for="phone" class="p-col-2">Convencional</label>
          <p-inputMask id="phone" class="p-col" formControlName="phone" placeholder="(02) 2222222" mask="(02) 2222222"></p-inputMask>
          <label for="cellphone" class="p-col-2">Celular</label>
          <p-inputMask id="cellphone" class="p-col" formControlName="cellphone" placeholder="(09) 9999999" mask="(09) 9999999"></p-inputMask>
        </div>
        <br>
        <div class="p-grid">
          <label for="email" class="p-col-2">Correo electrónico</label>
          <input id="email" class="p-col-4" type="text" pInputText pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"/>
        </div>
        <br>
        <div class="p-grid">
          <h4 class="p-col-2">Nivel de instrucción</h4>
          <p-radioButton class="p-col-2" name="instructionY" label="instructionY" value="instructionY" [formControl]="registrationForm.controls['modality']"></p-radioButton>
          <p-radioButton class="p-col-2" name="instructionX" label="instructionX" value="instructionX" [formControl]="registrationForm.controls['modality']"></p-radioButton>
          <p-radioButton class="p-col-2" name="instructionX" label="instructionX" value="instructionX" [formControl]="registrationForm.controls['modality']"></p-radioButton>
        </div>
        <h3 class="section-title">INFORMACIÓN LABORAL/ESTUDIOS</h3>
        <!-- level_instruction -->
        <div class="p-grid">
          <label for="institution_name" class="p-col-4">Institución donde trabaja / Estudia</label>
          <div class="p-fluid p-col-6">
            <input id="institution_name" formControlName="institution_name" type="email" aria-describedby="username-help"
                   [ngClass]="{'p-invalid': form.submitted && registrationForm.get('institution_name').errors}" class="p-col-6" pInputText />
            <small *ngIf="form.submitted && registrationForm.get('institution_name').errors" class="p-invalid">Nombre de institucion requerido</small>
          </div>
        </div>
        <br>
        <div class="p-grid">
          <label for="institution_address" class="p-col-4">Dirección de la institución</label>
          <div class="p-fluid p-col-6">
            <input id="institution_address" formControlName="institution_address" type="email" aria-describedby="username-help"
                   [ngClass]="{'p-invalid': form.submitted && registrationForm.get('institution_address').errors}" class="p-col-6" pInputText />
            <small *ngIf="form.submitted && registrationForm.get('institution_address').errors" class="p-invalid">Dirección requerida</small>
          </div>
        </div>
        <br>
        <div class="p-grid">
          <label for="institution_email" class="p-col-4">Correo electrónico de la institución</label>
          <div class="p-fluid p-col-6">
            <input id="institution_email" formControlName="institution_email" type="email" aria-describedby="username-help"
                   [ngClass]="{'p-invalid': form.submitted && registrationForm.get('institution_email').errors}" class="p-col-6" pInputText />
            <small *ngIf="form.submitted && registrationForm.get('institution_email').errors" class="p-invalid">Correo electronico requerido</small>
          </div>
        </div>
        <br>
        <div class="p-grid">
          <label for="institution_phone" class="p-col-4">Número telefónico de la institución</label>
          <div class="p-fluid p-col-6">
            <input id="institution_phone" formControlName="institution_phone" type="email" aria-describedby="username-help"
                   [ngClass]="{'p-invalid': form.submitted && registrationForm.get('institution_phone').errors}" class="p-col-6" pInputText />
            <small *ngIf="form.submitted && registrationForm.get('institution_phone').errors" class="p-invalid">Número telefónico requerido</small>
          </div>
        </div>
        <br>
        <div class="p-grid">
          <label for="institution_activity" class="p-col-4">Actividad de la institución</label>
          <div class="p-fluid p-col-6">
            <input id="institution_activity" formControlName="institution_activity" type="email" aria-describedby="username-help"
                   [ngClass]="{'p-invalid': form.submitted && registrationForm.get('institution_activity').errors}" class="p-col-6" pInputText />
            <small *ngIf="form.submitted && registrationForm.get('institution_activity').errors" class="p-invalid">Actividad de la institucion requerida</small>
          </div>
        </div>
        <br>
        <div class="p-grid">
          <label class="p-col-4">¿El curso es auspiciado por la institución?</label>
          <p-radioButton class="p-col-2" name="Si" label="Si" value="true" formControlName="institution_sponsored"></p-radioButton>
          <p-radioButton class="p-col-2" name="Si" label="No" value="false" formControlName="institution_sponsored"></p-radioButton>
        </div>
        <br>
        <div class="p-grid" *ngIf="registrationForm.get('institution_sponsored').value == 'true'">
          <label for="institution_contact" class="p-col-4">Si está auspiciado, indique el nombre de contacto</label>
          <div class="p-fluid p-col-6">
            <input #institution_contact required id="institution_contact" formControlName="institution_contact" type="email" aria-describedby="username-help"
                   [ngClass]="{'p-invalid': form.submitted && registrationForm.get('institution_contact').errors}" class="p-col-6" pInputText />
            <small *ngIf="form.submitted && registrationForm.get('institution_contact').errors" class="p-invalid">Nombre del contacto requerido</small>
            <button (click)="test(institution_contact)"></button>
          </div>
        </div>
        <br>
        <div class="p-grid">
          <label for="institution_know" class="p-col-4">¿Cómo se enteró del curso?</label>
          <div class="p-fluid p-col-6">
            <input id="institution_know" formControlName="institution_know" type="email" aria-describedby="username-help"
                   [ngClass]="{'p-invalid': form.submitted && registrationForm.get('institution_know').errors}" class="p-col-6" pInputText />
            <small *ngIf="form.submitted && registrationForm.get('institution_know').errors" class="p-invalid">Correo electronico invalido</small>
          </div>
        </div>
        <br>
        <div class="p-grid">
          <label for="institution_other_courses" class="p-col-4">¿Qué otros cursos le gustaría seguir?</label>
          <div class="p-fluid p-col-6">
            <input id="institution_other_courses" formControlName="institution_other_courses" type="email" aria-describedby="username-help"
                   [ngClass]="{'p-invalid': form.submitted && registrationForm.get('institution_other_courses').errors}" class="p-col-6" pInputText />
            <small *ngIf="form.submitted && registrationForm.get('institution_other_courses').errors" class="p-invalid">Correo electronico invalido</small>
          </div>
        </div>
        <div>
          <button
            type="submit"
            label="Confirmo matricula"
            pButton
            icon="pi pi-sign-in"
          ></button>
        </div>
      </form>
    </div>
  </div>
</div>
