<div class="landing-body">
  <div *ngIf="course" id="meet-mirage" class="section">
    <div class="section-title">
      <h1>Centro de Educación Continua "Yavirac"</h1>
      <h2>{{course.setec_name}}</h2>
    </div>
    <div class="section-title">
      <div class="p-grid">
        <div class="p-col-6">
          <img
            src="{{course.photo}}"
            alt="mirage-layout"
          />
        </div>
        <div class="p-col-6">
          <h3>Detalles</h3>
          <p-accordion>
            <p-accordionTab header="Resumen" [selected]="true">
              {{course.summary}}
            </p-accordionTab>
            <p-accordionTab header="Objetivo">
              {{course.objetive}}
            </p-accordionTab>
            <p-accordionTab header="Observaciones">
              {{course.observation}}
            </p-accordionTab>
          </p-accordion>
        </div>
      </div>
      <button
        type="button"
        label="Matricularme"
        pButton
        [queryParams]="{'id': course.id}"
        icon="pi pi-sign-in"
        routerLink="/cecy/free-courses/registration"
      ></button>

      <!-- que opinan nuestros estudiantes :v -->
      <!-- <h4>Que opinan nuestros estudiantes</h4>
      <p-carousel
        [value]="carouselCars"
        [numVisible]="4"
        [numScroll]="3"
        [circular]="false"
        [responsiveOptions]="responsiveOptions"
      >
        <ng-template let-car pTemplate="item">
          <div class="car-details">
            <div class="p-grid p-nogutter">
              <div class="p-col-12">
                <img src="assets/demo/images/car/{{ car.brand }}.png" />
              </div>
              <div class="p-col-12 car-data">
                <div class="car-title">{{ car.brand }}</div>
                <div class="car-subtitle">{{ car.year }} | {{ car.color }}</div>

                <div class="car-buttons">
                  <button
                    pButton
                    type="button"
                    class="ui-button-success"
                    icon="pi pi-search"
                  ></button>
                  <button
                    pButton
                    type="button"
                    class="ui-button-warning"
                    icon="pi pi-star"
                  ></button>
                  <button
                    pButton
                    type="button"
                    class="ui-button-info"
                    icon="pi pi-cog"
                  ></button>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </p-carousel> -->
    </div>
  </div>
</div>
